
@{
    Layout = null;
}
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h1>YENİ KATEGORİ EKLEME SAYFASI </h1>
<br />
<form class="form-group" method="post">
    <input type="text" placeholder="Kategori Adı" class="form-control" name="CategoryName" />
    <br />
    <input type="text" placeholder="Açıklama Giriniz" class="form-control" name="CategoryDescription" />
    <br />
    <button class="btn btn-success">Ekle</button>
</form>